{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }],
    "@babel/react",
    "@babel/preset-flow"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    ["@babel/plugin-proposal-decorators", {
      "legacy": true
    }],
    ["@babel/plugin-transform-runtime", {
      "regenerator": true
    }]
  ],
  "env": {
    "test": {
      "plugins": [
        ["@babel/plugin-proposal-decorators", {
          "legacy": true
        }],
        "@babel/plugin-proposal-object-rest-spread"
      ]
    }
  }
}
